<form [formGroup]="carForm">
  <sb-form-item label="Test label" required="true" dots="true">
    <mat-form-field appearance="legacy" floatLabel="never"
      [hideRequiredMarker]="true">
      <mat-select formControlName="car" placeholder="Please choose a car"
        required>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let car of carList" [value]="car">
          {{car.label}}
        </mat-option>
      </mat-select>
      <mat-hint>Click to access the list of cars</mat-hint>
      <mat-error *ngIf="carForm.controls.car.invalid">{{getErrorMessage()}}</mat-error>
      <mat-error *ngIf="carForm.controls.car.invalid" class="warning">{{getWarningMessage()}}</mat-error>
      <mat-error *ngIf="carForm.controls.car.invalid" class="information">{{getInformationMessage()}}</mat-error>
    </mat-form-field>
  </sb-form-item>
</form>