<sb-banner>
    <sb-banner-workarea>
        <!-- Displayed only for screen with definition under 1150px -->
        <div class="condensed">
            <b>M. Durant Stéphane</b>
            <b>000209856985</b>
        </div>
        <div class="full">
            <!-- Displayed only for screen with definition over 1150px -->
            <div>Third party<b>M. Durant Stéphane</b></div>
            <div>Reference ID<b>000209856985</b></div>
            <div>Activity<b>Golfer</b></div>
            <div>Phone<b>06 59 45 25 22</b></div>
            <div>Account Manager<b>M. Bernard Carlier</b></div>
            <div>Agency<b>Agence des mimosas</b></div>
            <div>Agency Phone<b>04 55 88 78 52</b></div>
        </div>
    </sb-banner-workarea>
    <sb-banner-info>
        <!-- Displayed only for screen with definition under 1150px -->
        <button mat-icon-button aria-label="account" class="condensed">
            <mat-icon>account_circle</mat-icon>
        </button>
        <!-- Displayed only for screen with definition over 1150px -->
        <div class="full">
            <b>Firstname LASTNAME</b>
            <div>NOCOM</div>
            <div>NOPOS</div>
            <div>18/03/2020</div>
        </div>
    </sb-banner-info>
</sb-banner>
