<!-- See https://material.io/resources/icons/?style=baseline for all available icons-->
<mat-icon>account_circle</mat-icon>
<mat-icon color="primary">today</mat-icon>
<mat-icon color="warn">grade</mat-icon>

<br>
<br>
<br>

<!-- You can also load your svg icon in app.module -->
<!-- this.matIconRegistry.addSvgIcon('company-logo', this.domSanitizer.bypassSecurityTrustResourceUrl('./assets/icons/company-logo.svg')); -->
<mat-icon svgIcon="company-logo" style="width: 250px"></mat-icon>
